In [1]:
import pandas as pd

In [7]:
df1 = pd.read_excel('WL Pre-Proccessed Data .xlsx', index_col=0)
df1.head()

        Date  AVE_WL(m)
0 1994-01-01       2.62
1 1994-01-02       2.61
2 1994-01-03       2.60
3 1994-01-04       2.60
4 1994-01-05       2.59

In [12]:
df2 = pd.read_excel('Date & Discharge .xlsx', index_col=0)
df2.head()
df2.shape

(7866, 2)

#merged Q & WL data

In [10]:
df = pd.merge(df1, df2, on='Date')
df

           Date  AVE_WL(m)  MeanDailyDischarge(m3/s)
0    1994-01-01       2.62                      7.60
1    1994-01-02       2.61                      7.54
2    1994-01-03       2.60                      7.55
3    1994-01-04       2.60                      7.57
4    1994-01-05       2.59                      7.52
...         ...        ...                       ...
7861 2021-12-27       1.72                     29.28
7862 2021-12-28       1.69                     28.42
7863 2021-12-29       1.68                     27.92
7864 2021-12-30       1.66                     27.36
7865 2021-12-31       1.62                     26.49

[7866 rows x 3 columns]

In [13]:
df.to_excel('Merged Q & WL data .xlsx')