In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR

In [8]:
df = pd.read_excel('Merged Q & WL data .xlsx', index_col=0)
df.head()

        Date  AVE_WL(m)  MeanDailyDischarge(m3/s)
0 1994-01-01       2.62                      7.60
1 1994-01-02       2.61                      7.54
2 1994-01-03       2.60                      7.55
3 1994-01-04       2.60                      7.57
4 1994-01-05       2.59                      7.52

In [21]:
x= df.drop('Date', axis=1)
inputs = x.drop(['MeanDailyDischarge(m3/s)'], axis=1)
inputs

      AVE_WL(m)
0          2.62
1          2.61
2          2.60
3          2.60
4          2.59
...         ...
7861       1.72
7862       1.69
7863       1.68
7864       1.66
7865       1.62

[7866 rows x 1 columns]

In [22]:
target = df['MeanDailyDischarge(m3/s)']
target

0        7.60
1        7.54
2        7.55
3        7.57
4        7.52
        ...
7861    29.28
7862    28.42
7863    27.92
7864    27.36
7865    26.49
Name: MeanDailyDischarge(m3/s), Length: 7866, dtype: float64

#Devide Data

In [34]:
x_train, x_test, y_train, y_test = train_test_split(inputs, target, test_size =0.02)

In [44]:
x_test

      AVE_WL(m)
5602       6.25
6531       8.33
5901       8.88
5001       2.23
1553      10.93
...         ...
2687       7.24
6144       8.82
2957      10.97
5990       7.30
4865       7.88

[158 rows x 1 columns]

#Model Setup

In [36]:
model_rbf = SVR(kernel='rbf')
model_linear = SVR(kernel = 'linear')
model_poly2 = SVR(kernel='poly', degree = 2)
model_poly3 = SVR(kernel='poly', degree = 3)
model_poly4 = SVR(kernel='poly', degree = 4)
model_poly5 = SVR(kernel='poly', degree = 5)

#Fit model

In [37]:
model_rbf.fit(x_train, y_train)
model_rbf.score(x_test, y_test)

0.9165062919744963

In [38]:
model_linear.fit(x_train, y_train)
model_linear.score(x_test, y_test)

0.8516519144615083

In [39]:
model_poly2.fit(x_train, y_train)
model_poly2.score(x_test, y_test)

0.9239031736285718

In [40]:
#3-degree polynomial model is More Accurate than other model
model_poly3.fit(x_train, y_train)
model_poly3.score(x_test, y_test)

0.9408186079236014

In [41]:
model_poly4.fit(x_train, y_train)
model_poly4.score(x_test, y_test)

0.9186253944134677

In [42]:
model_poly5.fit(x_train, y_train)
model_poly5.score(x_test, y_test)

0.8751190436038969

In [47]:
y_predict = model_poly3.predict([[4]])
y_predict

C:\Users\MASUD RANA\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

array([69.5473735])