In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR

In [2]:
df = pd.read_excel('Common Q & WL data .xlsx', index_col=0)
df

           Date  MeanDailyDischarge(m3/s)  AVE_WL(m)
0    1994-01-01                      7.60       2.62
1    1994-01-02                      7.54       2.61
2    1994-01-03                      7.55       2.60
3    1994-01-04                      7.57       2.60
4    1994-01-05                      7.52       2.59
...         ...                       ...        ...
7861 2021-12-27                     29.28       1.72
7862 2021-12-28                     28.42       1.69
7863 2021-12-29                     27.92       1.68
7864 2021-12-30                     27.36       1.66
7865 2021-12-31                     26.49       1.62

[7866 rows x 3 columns]

In [3]:
x= df.drop('Date', axis=1)
inputs = x.drop(['MeanDailyDischarge(m3/s)'], axis=1)
inputs

      AVE_WL(m)
0          2.62
1          2.61
2          2.60
3          2.60
4          2.59
...         ...
7861       1.72
7862       1.69
7863       1.68
7864       1.66
7865       1.62

[7866 rows x 1 columns]

In [4]:
target = df['MeanDailyDischarge(m3/s)']
target

0        7.60
1        7.54
2        7.55
3        7.57
4        7.52
        ...
7861    29.28
7862    28.42
7863    27.92
7864    27.36
7865    26.49
Name: MeanDailyDischarge(m3/s), Length: 7866, dtype: float64

#Devide Data

In [5]:
x_train, x_test, y_train, y_test = train_test_split(inputs, target, test_size =0.03)

In [6]:
x_test

      AVE_WL(m)
3937       4.95
5989       7.62
382        5.93
5368       2.38
3003      10.98
...         ...
4508       7.67
3360      10.14
5478      10.36
4850       7.56
1752       3.82

[236 rows x 1 columns]

#Model Setup

In [7]:
model_rbf = SVR(kernel='rbf')
model_linear = SVR(kernel = 'linear')
model_poly2 = SVR(kernel='poly', degree = 2)
model_poly3 = SVR(kernel='poly', degree = 3)
model_poly4 = SVR(kernel='poly', degree = 4)
model_poly5 = SVR(kernel='poly', degree = 5)

#Fit model

In [8]:
model_rbf.fit(x_train, y_train)
model_rbf.score(x_test, y_test)

0.9228171345748024

In [9]:
model_linear.fit(x_train, y_train)
model_linear.score(x_test, y_test)

0.8524556651613638

In [10]:
model_poly2.fit(x_train, y_train)
model_poly2.score(x_test, y_test)

0.9211027883949735

In [11]:
#3-degree polynomial model is More Accurate than other model
model_poly3.fit(x_train, y_train)
model_poly3.score(x_test, y_test)

0.9365021338025596

In [12]:
model_poly4.fit(x_train, y_train)
model_poly4.score(x_test, y_test)

0.9191034719068787

In [13]:
model_poly5.fit(x_train, y_train)
model_poly5.score(x_test, y_test)

0.8868458800293353

In [14]:
y_predict = model_poly3.predict([[7.3]])
y_predict

C:\Users\MASUD RANA\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

array([471.70254041])

In [28]:
import joblib

In [30]:
# Save the trained model to a file
joblib_file = "SVR_Model_polynomial_of_3_degree.pkl"  # Update with your desired file name
joblib.dump(model_poly3, joblib_file)

['SVR_Model_polynomial_of_3_degree.pkl']

In [31]:
model_3 = joblib.load('SVR_Model_polynomial_of_3_degree.pkl')

In [32]:
model_3.predict([[8]])

C:\Users\MASUD RANA\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

array([623.88283855])