In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR

In [2]:
df = pd.read_excel('Common Q & WL data .xlsx', index_col=0)
df

           Date  MeanDailyDischarge(m3/s)  AVE_WL(m)
0    1994-01-01                      7.60       2.62
1    1994-01-02                      7.54       2.61
2    1994-01-03                      7.55       2.60
3    1994-01-04                      7.57       2.60
4    1994-01-05                      7.52       2.59
...         ...                       ...        ...
7861 2021-12-27                     29.28       1.72
7862 2021-12-28                     28.42       1.69
7863 2021-12-29                     27.92       1.68
7864 2021-12-30                     27.36       1.66
7865 2021-12-31                     26.49       1.62

[7866 rows x 3 columns]

In [3]:
x= df.drop('Date', axis=1)
inputs = x.drop(['MeanDailyDischarge(m3/s)'], axis=1)
inputs

      AVE_WL(m)
0          2.62
1          2.61
2          2.60
3          2.60
4          2.59
...         ...
7861       1.72
7862       1.69
7863       1.68
7864       1.66
7865       1.62

[7866 rows x 1 columns]

In [4]:
target = df['MeanDailyDischarge(m3/s)']
target

0        7.60
1        7.54
2        7.55
3        7.57
4        7.52
        ...
7861    29.28
7862    28.42
7863    27.92
7864    27.36
7865    26.49
Name: MeanDailyDischarge(m3/s), Length: 7866, dtype: float64

#Devide Data

In [27]:
x_train, x_test, y_train, y_test = train_test_split(inputs, target, test_size =0.03)

In [28]:
x_test

      AVE_WL(m)
6412       3.63
4509       7.41
7796       6.08
3160       2.17
1626       5.72
...         ...
2337       4.68
3106       3.34
1584      10.59
4387      10.34
5804       7.86

[236 rows x 1 columns]

#Model Setup

In [29]:
model_rbf = SVR(kernel='rbf')
model_linear = SVR(kernel = 'linear')
model_poly2 = SVR(kernel='poly', degree = 2)
model_poly3 = SVR(kernel='poly', degree = 3)
model_poly4 = SVR(kernel='poly', degree = 4)
model_poly5 = SVR(kernel='poly', degree = 5)

#Fit model

In [30]:
model_rbf.fit(x_train, y_train)
model_rbf.score(x_test, y_test)

0.9011803716597641

In [31]:
model_linear.fit(x_train, y_train)
model_linear.score(x_test, y_test)

0.8292882426892071

In [32]:
model_poly2.fit(x_train, y_train)
model_poly2.score(x_test, y_test)

0.9079901127148501

In [33]:
#3-degree polynomial model is More Accurate than other model
model_poly3.fit(x_train, y_train)
model_poly3.score(x_test, y_test)

0.926461669643871

In [34]:
model_poly4.fit(x_train, y_train)
model_poly4.score(x_test, y_test)

0.9096385018762017

In [ ]:
model_poly5.fit(x_train, y_train)
model_poly5.score(x_test, y_test)

In [ ]:
y_predict = model_poly3.predict([[8.05]])
y_predict

#Find Unknown discharge from water level

In [ ]:
allData = pd.read_excel('All Q(with nan) & WL(all value included) data .xlsx', index_col = 0)
allData

In [ ]:
x10 = allData.head(10)
x10

In [ ]:
for x in range(1):
    print(x10.iloc[x])

In [ ]:
for x in range(1):
    element = x10.iloc[x];
    q = element['MeanDailyDischarge(m3/s)'];
    wl = element['AVE_WL(m)'];
    p_q = model_poly3.predict([[wl]])
    print(wl)
    print(q)
    print(p_q)