In [1]:
import pandas as pd

In [3]:
rainfall_data = pd.read_excel('./Data/Rainfall Data.xlsx')
rainfall_data.head()

,SL,DISTRICT,UPAZILA,STATION ID,STATION NAME,DATE,RAIN FALL(mm),LATITUDE,LONGITUDE
0,1,Sylhet,Sylhet Sadar,CL128,Sylhet,01-jan-1994,0.0,24.90674,91.87822
1,2,Sylhet,Sylhet Sadar,CL128,Sylhet,02-jan-1994,0.0,24.90674,91.87822
2,3,Sylhet,Sylhet Sadar,CL128,Sylhet,03-jan-1994,0.0,24.90674,91.87822
3,4,Sylhet,Sylhet Sadar,CL128,Sylhet,04-jan-1994,0.0,24.90674,91.87822
4,5,Sylhet,Sylhet Sadar,CL128,Sylhet,05-jan-1994,0.0,24.90674,91.87822

Date formate change

In [8]:
rainfall_data['DATE'] = pd.to_datetime(rainfall_data['DATE'])
rainfall_data.head()

C:\Users\MASUD RANA\AppData\Local\Temp\ipykernel_2872\3519054393.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  rainfall_data['DATE'] = pd.to_datetime(rainfall_data['DATE'])

,SL,DISTRICT,UPAZILA,STATION ID,STATION NAME,DATE,RAIN FALL(mm),LATITUDE,LONGITUDE
0,1,Sylhet,Sylhet Sadar,CL128,Sylhet,1994-01-01,0.0,24.90674,91.87822
1,2,Sylhet,Sylhet Sadar,CL128,Sylhet,1994-01-02,0.0,24.90674,91.87822
2,3,Sylhet,Sylhet Sadar,CL128,Sylhet,1994-01-03,0.0,24.90674,91.87822
3,4,Sylhet,Sylhet Sadar,CL128,Sylhet,1994-01-04,0.0,24.90674,91.87822
4,5,Sylhet,Sylhet Sadar,CL128,Sylhet,1994-01-05,0.0,24.90674,91.87822

In [16]:
need_data = rainfall_data.iloc[ :, [5,6] ]
need_data.head()

        DATE  RAIN FALL(mm)
0 1994-01-01            0.0
1 1994-01-02            0.0
2 1994-01-03            0.0
3 1994-01-04            0.0
4 1994-01-05            0.0

In [17]:
need_data.shape

(10921, 2)

In [19]:
need_data.to_excel('Date & Rainfall .xlsx')