In [15]:
import pandas as pd

In [16]:
df1 = pd.read_excel('WL Pre-Proccessed Data .xlsx', index_col=0)
df1.head()

        Date  AVE_WL(m)
0 1994-01-01       2.62
1 1994-01-02       2.61
2 1994-01-03       2.60
3 1994-01-04       2.60
4 1994-01-05       2.59

In [17]:
df2 = pd.read_excel('All Date but not all Q data.xlsx', index_col=0)
df2.head()
df2.shape

(10957, 2)

#common Q & WL data

In [18]:
df = pd.merge(df1, df2, on='Date')
df

            Date  AVE_WL(m)  MeanDailyDischarge(m3/s)
0     1994-01-01       2.62                      7.60
1     1994-01-02       2.61                      7.54
2     1994-01-03       2.60                      7.55
3     1994-01-04       2.60                      7.57
4     1994-01-05       2.59                      7.52
...          ...        ...                       ...
10952 2023-12-27       1.55                       NaN
10953 2023-12-28       1.53                       NaN
10954 2023-12-29       1.52                       NaN
10955 2023-12-30       1.51                       NaN
10956 2023-12-31       1.48                       NaN

[10957 rows x 3 columns]

In [19]:
df.to_excel('Common Q & WL data .xlsx')

All Q & WL Data

In [20]:
df2 = pd.merge(df1, df2, on='Date', how='outer')
df2

            Date  AVE_WL(m)  MeanDailyDischarge(m3/s)
0     1994-01-01       2.62                      7.60
1     1994-01-02       2.61                      7.54
2     1994-01-03       2.60                      7.55
3     1994-01-04       2.60                      7.57
4     1994-01-05       2.59                      7.52
...          ...        ...                       ...
10952 2023-12-27       1.55                       NaN
10953 2023-12-28       1.53                       NaN
10954 2023-12-29       1.52                       NaN
10955 2023-12-30       1.51                       NaN
10956 2023-12-31       1.48                       NaN

[10957 rows x 3 columns]

In [21]:
df2.to_excel('All Q(with nan) & WL(all value included) data .xlsx')