In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.svm import SVR

In [2]:
df = pd.read_excel('Common Q & WL data .xlsx', index_col=0)
df.head()

        Date  AVE_WL(m)  MeanDailyDischarge(m3/s)
0 1994-01-01       2.62                      7.60
1 1994-01-02       2.61                      7.54
2 1994-01-03       2.60                      7.55
3 1994-01-04       2.60                      7.57
4 1994-01-05       2.59                      7.52

In [3]:
x= df.drop('Date', axis=1)
inputs = x.drop(['MeanDailyDischarge(m3/s)'], axis=1)
inputs

      AVE_WL(m)
0          2.62
1          2.61
2          2.60
3          2.60
4          2.59
...         ...
7861       1.72
7862       1.69
7863       1.68
7864       1.66
7865       1.62

[7866 rows x 1 columns]

In [4]:
target = df['MeanDailyDischarge(m3/s)']
target

0        7.60
1        7.54
2        7.55
3        7.57
4        7.52
        ...
7861    29.28
7862    28.42
7863    27.92
7864    27.36
7865    26.49
Name: MeanDailyDischarge(m3/s), Length: 7866, dtype: float64

#Devide Data

In [5]:
x_train, x_test, y_train, y_test = train_test_split(inputs, target, test_size =0.02)

In [6]:
x_test

      AVE_WL(m)
3668      10.73
3578       9.70
5865      10.31
1797       4.63
5881      11.26
...         ...
2598      11.63
3372       8.12
4347       6.31
5070       2.64
1810       5.79

[158 rows x 1 columns]

#Model Setup

In [7]:
model_rbf = SVR(kernel='rbf')
model_linear = SVR(kernel = 'linear')
model_poly2 = SVR(kernel='poly', degree = 2)
model_poly3 = SVR(kernel='poly', degree = 3)
model_poly4 = SVR(kernel='poly', degree = 4)
model_poly5 = SVR(kernel='poly', degree = 5)

#Fit model

In [8]:
model_rbf.fit(x_train, y_train)
model_rbf.score(x_test, y_test)

0.8778351533764822

In [9]:
model_linear.fit(x_train, y_train)
model_linear.score(x_test, y_test)

0.8156460854129793

In [10]:
model_poly2.fit(x_train, y_train)
model_poly2.score(x_test, y_test)

0.8981228140001863

In [11]:
#3-degree polynomial model is More Accurate than other model
model_poly3.fit(x_train, y_train)
model_poly3.score(x_test, y_test)

0.9184052689337028

In [12]:
model_poly4.fit(x_train, y_train)
model_poly4.score(x_test, y_test)

0.9008240410686006

In [13]:
model_poly5.fit(x_train, y_train)
model_poly5.score(x_test, y_test)

0.8630670519622531

In [32]:
y_predict = model_poly3.predict([[2.62]])
y_predict

C:\Users\MASUD RANA\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(

array([12.61261959])

#Find Unknown discharge from water level

In [18]:
allData = pd.read_excel('All Q(with nan) & WL(all value included) data .xlsx', index_col = 0)
allData

            Date  AVE_WL(m)  MeanDailyDischarge(m3/s)
0     1994-01-01       2.62                      7.60
1     1994-01-02       2.61                      7.54
2     1994-01-03       2.60                      7.55
3     1994-01-04       2.60                      7.57
4     1994-01-05       2.59                      7.52
...          ...        ...                       ...
10952 2023-12-27       1.55                       NaN
10953 2023-12-28       1.53                       NaN
10954 2023-12-29       1.52                       NaN
10955 2023-12-30       1.51                       NaN
10956 2023-12-31       1.48                       NaN

[10957 rows x 3 columns]

In [20]:
x10 = allData.head(10)
x10

        Date  AVE_WL(m)  MeanDailyDischarge(m3/s)
0 1994-01-01       2.62                      7.60
1 1994-01-02       2.61                      7.54
2 1994-01-03       2.60                      7.55
3 1994-01-04       2.60                      7.57
4 1994-01-05       2.59                      7.52
5 1994-01-06       2.58                      7.41
6 1994-01-07       2.57                      7.31
7 1994-01-08       2.56                      7.21
8 1994-01-09       2.55                      7.10
9 1994-01-10       2.54                      7.00

In [29]:
for x in range(1):
    print(x10.iloc[x])

Date                        1994-01-01 00:00:00
AVE_WL(m)                                  2.62
MeanDailyDischarge(m3/s)                    7.6
Name: 0, dtype: object

In [31]:
for x in range(1):
    element = x10.iloc[x];
    q = element['MeanDailyDischarge(m3/s)'];
    wl = element['AVE_WL(m)'];
    p_q = model_poly3.predict([[wl]])
    print(wl)
    print(q)
    print(p_q)

2.62
7.6
[12.61261959]

C:\Users\MASUD RANA\AppData\Local\Programs\Python\Python312\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but SVR was fitted with feature names
  warnings.warn(