In [14]:
import pandas as pd

In [15]:
df = pd.read_excel('Date & WL .xlsx', names=None, index_col=0)
df.head()

        Date  AVE_WL(m)
0 1994-01-01       2.62
1 1994-01-02       2.61
2 1994-01-03       2.60
3 1994-01-04       2.60
4 1994-01-05       2.59

In [16]:
df.tail()

            Date  AVE_WL(m)
10683 2023-12-27       1.55
10684 2023-12-28       1.53
10685 2023-12-29       1.52
10686 2023-12-30       1.51
10687 2023-12-31       1.48

Create Date from 1994 to 2023

In [17]:
OriginalDate = pd.date_range( start = pd.to_datetime('01/01/1994'), end = pd.to_datetime('31/12/2023'))
df2 = pd.DataFrame(OriginalDate)
df2.columns = ['Date']
df2

C:\Users\MASUD RANA\AppData\Local\Temp\ipykernel_1656\3748061804.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  OriginalDate = pd.date_range( start = pd.to_datetime('01/01/1994'), end = pd.to_datetime('31/12/2023'))

            Date
0     1994-01-01
1     1994-01-02
2     1994-01-03
3     1994-01-04
4     1994-01-05
...          ...
10952 2023-12-27
10953 2023-12-28
10954 2023-12-29
10955 2023-12-30
10956 2023-12-31

[10957 rows x 1 columns]

#Merge

In [20]:
merged_data = pd.merge(df2, df, on='Date', how='outer')
merged_data

            Date  AVE_WL(m)
0     1994-01-01       2.62
1     1994-01-02       2.61
2     1994-01-03       2.60
3     1994-01-04       2.60
4     1994-01-05       2.59
...          ...        ...
10952 2023-12-27       1.55
10953 2023-12-28       1.53
10954 2023-12-29       1.52
10955 2023-12-30       1.51
10956 2023-12-31       1.48

[10957 rows x 2 columns]

In [21]:
pd.isnull(merged_data).sum()

Date           0
AVE_WL(m)    269
dtype: int64

#Interpolate

In [22]:
df_final = merged_data.interpolate( method='linear')
df_final

            Date  AVE_WL(m)
0     1994-01-01       2.62
1     1994-01-02       2.61
2     1994-01-03       2.60
3     1994-01-04       2.60
4     1994-01-05       2.59
...          ...        ...
10952 2023-12-27       1.55
10953 2023-12-28       1.53
10954 2023-12-29       1.52
10955 2023-12-30       1.51
10956 2023-12-31       1.48

[10957 rows x 2 columns]

In [23]:
pd.isnull(df_final).sum()

Date         0
AVE_WL(m)    0
dtype: int64

#Extract Pre-Proccessed Data

In [24]:
df_final.to_excel('WL Pre-Proccessed Data .xlsx')