In [1]:
import pandas as pd

In [9]:
df = pd.read_excel('Date & Rainfall .xlsx', names=None, index_col=0)
df.head()

        DATE  RAIN FALL(mm)
0 1994-01-01            0.0
1 1994-01-02            0.0
2 1994-01-03            0.0
3 1994-01-04            0.0
4 1994-01-05            0.0

Create Date from 1994 to 2023

In [15]:
OriginalDate = pd.date_range( start = pd.to_datetime('01/01/1994'), end = pd.to_datetime('31/12/2023'))
df2 = pd.DataFrame(OriginalDate)
df2.columns = ['DATE']
df2

C:\Users\MASUD RANA\AppData\Local\Temp\ipykernel_9112\3572948137.py:1: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  OriginalDate = pd.date_range( start = pd.to_datetime('01/01/1994'), end = pd.to_datetime('31/12/2023'))

            DATE
0     1994-01-01
1     1994-01-02
2     1994-01-03
3     1994-01-04
4     1994-01-05
...          ...
10952 2023-12-27
10953 2023-12-28
10954 2023-12-29
10955 2023-12-30
10956 2023-12-31

[10957 rows x 1 columns]

#Merge

In [19]:
merged_data = pd.merge(df2, df, on='DATE', how='outer')
merged_data

            DATE  RAIN FALL(mm)
0     1994-01-01            0.0
1     1994-01-02            0.0
2     1994-01-03            0.0
3     1994-01-04            0.0
4     1994-01-05            0.0
...          ...            ...
10952 2023-12-27            0.0
10953 2023-12-28            0.0
10954 2023-12-29            0.0
10955 2023-12-30            0.0
10956 2023-12-31            0.0

[10957 rows x 2 columns]

In [22]:
pd.isnull(merged_data).sum()

DATE              0
RAIN FALL(mm)    36
dtype: int64

#Interpolate

In [23]:
df_final = merged_data.interpolate( method='linear')
df_final

            DATE  RAIN FALL(mm)
0     1994-01-01            0.0
1     1994-01-02            0.0
2     1994-01-03            0.0
3     1994-01-04            0.0
4     1994-01-05            0.0
...          ...            ...
10952 2023-12-27            0.0
10953 2023-12-28            0.0
10954 2023-12-29            0.0
10955 2023-12-30            0.0
10956 2023-12-31            0.0

[10957 rows x 2 columns]

In [24]:
pd.isnull(df_final).sum()

DATE             0
RAIN FALL(mm)    0
dtype: int64

#Extract Pre-Proccessed Data

In [25]:
df_final.to_excel('Rainfall Pre-Proccessed Data .xlsx')